.wrapper {
    width: 356px;
    padding: 20px 0 26px 8px;
    margin-left: -18px;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    perspective-origin: right top;
    top: 60px;
    bottom: 0;
    width: 356px;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 9;
    padding-right: 8px;
}

.req-wrapper {
    border-top: 1px solid #e3e3e4;
    padding: 20px 0 24px;

    p {
        color: rgba(22, 24, 35, 0.5);
        font-size: 16px;
        line-height: 22px;
    }

    button {
        width: 100%;
        margin-top: 20px;
    }
}
